/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */

* {
  font-family: 'Roboto', sans-serif;
}
body {
  min-height: 100%;
  background-color: #E8EEF2;
}

/* carousel adjustments */

main {
  display: grid;
  min-height: 100%;
  justify-items: center;
  background-color: #E8EEF2;
  padding-top: 65px;
  grid-template-columns: 75px 1fr 1fr; 
  grid-template-rows: auto; 
}

.hompage-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  justify-content: center;

}

.map-container {
  grid-column-start: 3;
  /* position: fixed; */
}

.trip-container {
  grid-column-start: 2;
  align-content: center;
}
.card-grid-container {
  /* box-shadow: 0px 1px 1px #5AAA95; */
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
  background-color: white;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  justify-content: center;
  margin-bottom: 1em;
}
.trip-heading {
  grid-column-end: span 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
}

.trip-heading h3 {
  grid-column-end: 2;
  margin-left: 5px;
  width: 100%;
  text-align: right;
  /* padding-left:  */
  font-weight: bolder;
  font-size: 1.2em;
}


.card-grid {
  width: 100%;
  grid-column-end: span 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-grid-item {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

.card-grid-item img {
  background-size: contain;
  margin: auto;
  display: block;
  width: 75%;
  height: 75%,
}

.post-page {
  display: flex;
  flex-direction: column;
  
}

.post-trip-container {
  grid-column-start: 2;
  border: 1px solid black;
}

.miniMap {
  position: fixed !important;
  /* max-width: 40% !important; */
  /* max-height: 840px !important; */
  /* box-shadow: 0px 5px 5px #5AAA95 !important; */
  border-radius: 10px !important;
  /* margin-left: -35rem;  */
}


/* header and search bar addjustments */

header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.navbar {
  position: fixed;
  background-color: aqua;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  display:flex;
  justify-content: center;
  margin-bottom: 2em;
}
.logo {
  height: 10px;
  width: 20px
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.favorites {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #E8EEF2;
  height: 100vh;
}

.favorite-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}



.favorites h1 {
  width: 100%;
  border: 1px solid black;
}