/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */

* {
  font-family: 'Roboto', sans-serif;
}

/* carousel adjustments */
x

/* header and search bar addjustments */
.content {
  display: flex;
  justify-content: center;
}

.navbar {
  display:flex;
  justify-content: center;
}

.searchBar {
  display: flex;
  justify-content: center;
}

.tripCard {
  display: flex;
  justify-content: center;
  padding: 4em 0em 4em
}

.tripContent {
  display: flex;
  justify-content: flex-start;
}


/* Card CSS below  */

.card {
  display: flex;
  justify-content: center;
  border-style: solid;
  position: center;
  width: 70%;
}
.card img {
  display: flex;
}

.card-content icon {
  margin-right: 20px;
  position: relative;
  left: 200px
}

.card-attributes {
  position: relative;
  text-align: center;
}

/* Navigation Bar CSS Below*/




/* Carousel CSS Below */
